- var contacts = {А: ["user3"], B: ["user4"],Д: ["user2"],К: ["user1", "user5"],П: ["user6"]};
- var title = "Контакты";
- var searchSource = "контактам";
div(class="tab-pane show fade active h-100 mt-5 mx-4 " id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab")
    h2(class="font-weight-bold") #{title}
    include search.pug
    ul(class="h-75 block-scrollable list-unstyled")
      each val, index in contacts
          li(class="mb-5")
              div(class="text-muted mb-3")= index
                  ul(class="list-unstyled")
                    each item in val
                      li(class="shadow mb-3")
                        a(href="#" class="contacts-item media align-items-center p-3")
                            img(src=imagesPath+users[item].avatar class="avatar" alt=`Avatar`)
                            div(class="media-body ml-4 my-2")
                              h6(class="m-0") #{users[item].first_name} #{users[item].last_name}
                              div(class="status small") #{statuses[item]}